body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background-color: #34b93d; /* Green Christmas color for the body */
  color: #fff; /* White text for the body */
}

header {
  background-color: #e63946; /* Red Christmas color for the header */
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

main {
  flex: 1;
}

footer {
  background-color: #000; /* Black background for the footer */
  color: #fff; /* White text for the footer */
  text-align: center;
  padding: 10px;
}
